<ion-view view-title="Account">
  <ion-content>
  <p></p>
  <h4>Genius Tracklist<h4>
<div class="list">
  
  <div class="item item-input-inset">

    <label class="item-input-wrapper">

      <input id="searchField" type="text" placeholder="Soundcloud Username" ng-model="searchText" ng-change="autoCompleteUsername(searchText)">
    </label>
    <button class="button button-small" ng-click="GetUser(searchText)">
      Submit
    </button>
  </div>
  <div style="height:386px;overflow:auto;" ng-show="show_suggestions">
  <ul class="list" ng-show="show_suggestions" id="autocomplete_list">
        <li ng-repeat="i_suggestion in input_suggestions | limitTo:10" ng-click="selectUser(i_suggestion)" id="$index">
        	
          <div class="row" id="userSuggestion">
            <div class="col col-10">
              <img class="full-image" src="{{i_suggestion.avatar_url}}">
            </div>
            <div class="col">

          <label>{{i_suggestion.username}}</label>
          <label>{{i_suggestion.country}}, {{i_suggestion.city}}</label>

      </div>
  </div>
        </li class="item">
          <div class="row" ng-show="user_loading_wheel">
            <div class="col col-10">
              <ion-spinner icon="spiral">
          </ion-spinner>
            </div>
            <div class="col">
        </div>
      </div>
          
      </ul>
  </div>

</div class="list">
<p id="info0">Lorem ipsum dolor sit amet, fuisset delicatissimi eu vis, ei natum melius sapientem has, eu sea erat insolens explicari. Nec in ullamcorper comprehensam, no blandit reprimique sea. Sed sale zril populo ex. Vim an justo utroque iudicabit, commune explicari prodesset nam ne. Vide veritus ex est. Mundi facilisi qualisque his ne, diceret corpora salutandi sea an.

Fugit conclusionemque ex eam, dicta impedit vocibus mel in. Pri doctus vidisse facilis an, nec in mundi scripta menandri, mei tation definiebas te. Pri altera utamur ei. Tacimates partiendo in sit, eu dicit discere delicata has.

Constituam eloquentiam contentiones nec ut. Cum et habeo admodum, his novum facilis mnesarchum ad, eu qui urbanitas consetetur efficiendi. Et eos agam elaboraret adversarium. Iriure propriae ut per.
<p>
<p id="info1">Lorem ipsum dolor sit amet, fuisset delicatissimi eu vis, ei natum melius sapientem has, eu sea erat insolens explicari. Nec in ullamcorper comprehensam, no blandit reprimique sea. Sed sale zril populo ex. Vim an justo utroque iudicabit, commune explicari prodesset nam ne. Vide veritus ex est. Mundi facilisi qualisque his ne, diceret corpora salutandi sea an.

Fugit conclusionemque ex eam, dicta impedit vocibus mel in. Pri doctus vidisse facilis an, nec in mundi scripta menandri, mei tation definiebas te. Pri altera utamur ei. Tacimates partiendo in sit, eu dicit discere delicata has.

Constituam eloquentiam contentiones nec ut. Cum et habeo admodum, his novum facilis mnesarchum ad, eu qui urbanitas consetetur efficiendi. Et eos agam elaboraret adversarium. Iriure propriae ut per.
<p>
  </ion-content>
</ion-view>
