<ion-view view-title="CoundSloud">
  <ion-content class="padding">
  <body>
<h2>Tracks For You</h2>

<div class="list">
  <label>What's your username?</label>
  <div class="item item-input-inset">

    <label class="item-input-wrapper">

      <input id="searchField" type="text" placeholder="Soundcloud Username" ng-model="searchText" ng-change="autoCompleteUsername(searchText)">
    </label>
    <button class="button button-small" ng-click="GetUser(searchText)">
      Submit
    </button>
  </div>
  <ul class="list" ng-show="show_suggestions" id="autocomplete_list">
        <li class="item" ng-repeat="i_suggestion in input_suggestions | limitTo:10" ng-click="selectUser(i_suggestion)" id="$index">
          <div class="row">
            <div class="col col-10">
              <img class="full-image" src="{{i_suggestion.avatar_url}}">
            </div>
            <div class="col">

          <div>{{i_suggestion.username}}</div><div>
          {{i_suggestion.country}}, {{i_suggestion.city}}</div>
        </div>
      </div>
        </li>
      </ul>
</div>

 <!--<img id="avatar_img" class="full-image" src="">-->
<div class="row" ng-show="show_recs">
  <div class="col col-25">
    <div>
      
      <div class="item item-input-inset">   
        <img id="avatar_img" class="full-image" src="">
      </div>
    </div>
    <label id="artistLabel"></label>
  </div>
  <div class="col">
    <div class="item item-input-inset" id="recList">
      <ul class="list" id="artist_list">
        <li class="item" ng-repeat="i_rec in recommendedTracks" ng-show="show_tracks" id="repeatWidgets">
          <a>
            <iframe frameborder='no' height='166' scrolling='no' src='{{StoredEmbedLinks.get(i_rec.id)| trusted}}' width='100%' id="$index"></iframe>
          </a>
        </li>
        <ion-spinner icon="spiral" ng-show="!show_tracks"></ion-spinner>
      </ul>
    </div>
  </div>
</div>
</body>
<p></p>
<!--
<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input id="searchField" type="text" placeholder="Soundcloud Username" ng-model="searchText">
    </label>
    <button class="button button-small" ng-click="GetUser(searchText)">
      Submit
    </button>

  </div>

</div>
-->
</ion-content>
</ion-view>

