 <!--<head>
     <link rel="shortcut icon" href="favicon.ico?"/> 
   </head>
 -->
<ion-view view-title="CoundSloud">

  <ion-content class="padding">
    <body>
  <div class = "row">
  <div class="col">
    
    <button class="button" ng-click="goHome()"> <-Change User</button>
  
  </div>
  <div class="col">
  <h1>Genius Tracklist<h1>
  </div>
  <div class="col"></div>
  </div>


<div class="row" ng-show="show_general_ui">
  <div class="col col-25" ng-show="show_profile">
    <div>
      
      <div class="item item-input-inset">   
        <img id="avatar_img" class="full-image" src="">
      </div>
    </div>
    <label id="artistLabel"></label>
    <div>
    <button class="button" id="editSearchButton" ng-show="show_recs" ng-click="editCriteria()">Edit Search Criteria</button>
    </div>
  </div>


  <div class="col" ng-show="show_fav_selection">
    <h3>User Favorites (Included in Calculation)</h3>

   <div style="height:386px;overflow:auto;">
  <div class="row row-wrap">
  <div class="col-25" ng-repeat="track in fav_icons" item="track" >
    
      <div class="item">
        <div class="row">
          <div class="col">
        <img width="50" heigh="50" src="{{getIconArt(track.icon)}}">
      </div>
        <label class="checkbox checkbox-balanced">
          <input type="checkbox" ng-model="fav_icons[$index].checked" ng-init="selectAll(true,fav_icons)" ng-checked="default_checked" ng-change="updateChecked(track)">
        </label>
        
        </div>
        <div><label>{{track.icon.title}}</label></div>
        <div>{{track.user.username}}</div>
      </div>
    
  </div>
</div>
</div>
<p></p>
<div class="button" ng-click="startCalculation()">Calculate Recommendations</div>
<div class="button" ng-click="selectAll(toggleSelect,fav_icons)">(De)select All</div>
</div>


<div class="col" ng-show="!show_fav_selection">

  <a id="playerObj" ng-show="show_player" ng-show=" ">
    <div class = "row" id="playerObj" ng-show="show_player">
      <div class = "col-25">
        <img src="{{getIconArt(playingTrack)}}" >
      </div>
      <div class = "col-10" id="playBtnContainer">
        <!--
        <a id="songPlayPause" class="button button-icon icon ion-ios-pause custom-icon" ng-click="liked=!liked; playPause('song', liked)" ng-show="show_player" ng-class="{'ion-ios-pause' : liked, 'ion-ios-play' : !liked}"></a>
        -->
        <a ng-click="playPause('song')" ng-class="{'ion-ios-play':show_pause,'ion-ios-pause':!show_pause}" id="songPlayPause"></a>
        <!--
        <a id="songPause" ng-click="pause('song')" class="button button-icon icon ion-ios-pause" ng-show="!show_pause"></a>
        <a id="songPlay" ng-click="play('song')" class="button button-icon icon ion-ios-play" ng-show="show_pause"></a>
        -->

      </div>
      <div class = "col">
        <div id="playerTitle">
          {{playingTrack.title}}
        </div>
        <div id="playerArtist">
          {{playingTrack.user.permalink}}
        </div>
          <div id="songTime" >0:00 / 0:00
          </div>
      </div>
      <div class="col"></div>
      <div class = "col-20" id="iframeOffset">
        <iframe id="scLink" allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fmntrees&color=orange_white&size=64" style="width: 64px; height: 64px;"></iframe>
      </div>
    </div>
    
    <div class="row" ng-show="show_player" id="playerObj">
      <audio id="song">
<source src="" type="audio/mp3"/>
  Your browser does not support the audio tag.
</audio>
      <div class="col-10" id="bckBtn">
        <a id="songRewind" class="button button-icon icon ion-ios-skipbackward custom-icon" ng-click="skipBack()" ng-show="show_player"></a>
        <!--<button id="songPlayPause" ng-click="playPause('song')">PlayPause</button>-->
      </div>
      <div class="col">
        <div>
        <img src="{{playingTrack.waveform_url}}" id="songSlider" ng-click="setSongPosition(event)">
        <div>
        <img src="img/playback_img.png" id="trackProgress">
      </div>
        </div>
      
      </div>
      <div class="col-10" id="fwdBtn">
        <a id="songSkip" class="button button-icon icon ion-ios-skipforward custom-icon" ng-click="skipFwd()" ng-show="show_player"></a>
        <!--<button id="songPlayPause" ng-click="playPause('song')">PlayPause</button>-->
      </div>
    </div>
  
  </a>

<!--
  <a ng-show="show_player" class="item" id="playerObj">
    <div class="row" id="playerObj">
      <div class="col-25">
      <img src="{{playingTrack.artwork_url}}" >
      </div>
      <div class="col">
        <div>
  {{playingTrack.title}}
  </div>
  <div>
    {{playingTrack.user.permalink}}
  </div>
  <p></p>
        <div>
          <audio id="song">
<source src="" type="audio/mp3"/>
  Your browser does not support the audio tag.
</audio>

<button id="songPlayPause" ng-click="playPause('song')">PlayPause</button>

<div id="songTime">0:00 / 0:00</div>

<img src="{{playingTrack.waveform_url}}" id="songSlider" ng-click="setSongPosition(event)">
<div>
<img src="img/playback_img.png" id="trackProgress">
</div>
</div>
</div>

</div>
  </a>
-->


  <div ng-show="loading">
    <ion-spinner icon="spiral">
    </ion-spinner>
    <label id="loading_text">{{loading_text}}</label>
    <div>
      <label>this may take a minute... </label>
    </div>
  </div>
  <div class="item" ng-show="show_recs">  
    <div style="height:400px;overflow:auto;">
      <li class="item" ng-repeat="i_rec in recommendedTracks">
      <button class="button button-full" ng-click="playSong(i_rec)">
      <div class="row">
        <div class="col-10">
          <img src="{{getIconArt(i_rec)}}" class="full-image" >
        </div>
    <div class="col">
      <label>{{i_rec.title}}</label>
      <div>
        <label>{{i_rec.user.username}}</label>
      </div>
    </div>
  </div>
      </button>
      </li> 
    </div>
  </div>
</div>

  <!--
  <div class="col" ng-show="show_recs">
    <div class="item item-input-inset" id="recList">
      <ul class="list" id="artist_list">
        <li class="item" ng-repeat="i_rec in recommendedTracks"  id="repeatWidgets">
          <a>
            <iframe frameborder='no' height='166' scrolling='no' src='{{StoredEmbedLinks.get(i_rec.id)| trusted}}' width='100%'></iframe>
          </a>
        </li>
        <ion-spinner icon="spiral" ng-show="!show_tracks"></ion-spinner>
      </ul>
    </div>
  </div>
  -->


</div>

<div ng-show="!show_general_ui">
<button class="button button-full button-positive" ng-click="goHome()">
  Return to Homepage
</button>



</div>
</body>

</ion-content>
</ion-view>

