 <!--<head>
     <link rel="shortcut icon" href="favicon.ico?"/> 
   </head>
-->
<nav class="navbar navbar-inverse" style="height:70px;">
  <div class="container-fluid">
    <div style="text-align:center;">
      <h1>Genius Tracklist</h1>
    </div>
  </div>


</nav>

<div class="container-fluid" id="searchPage">
    <div class="text-center">
      <div>
    <label>Log in</label>
  </div>
  <button class="btn btn-transparent" ng-click="loginUser()" id="connectLogin">
           <img src="http://connect.soundcloud.com/2/btn-connect-sc-l.png" id="connectToSC"> 
  </button>
  <div id="orLabel">
    <label>or</label>
  </div>
  <div>
    <label>Search your username</label>
  </div>
</div>
  <form class="form-wrapper" id="formWrapper">
    <div class="form-group has-feedback" style="margin-bottom:0px;">
      <label for="search" class="sr-only">Search</label>
      <input type="text" class="form-control" name="search" id="searchField" placeholder="Soundcloud Username" ng-change="autoCompleteUsername(searchText)" ng-model="searchText" ng-model-options="{debounce:300}">
      <span class="glyphicon glyphicon-search form-control-feedback" ></span>
    </div>
  
  <div id="searchlist" class="list-group" ng-show="show_suggestions" style="height:340px;overflow:auto;">
    <a class="list-group-item" ng-repeat="i_suggestion in input_suggestions | limitTo:10" ng-click="selectUser(i_suggestion)" id="userSearchRec" >
      <div class="row" id="userSuggestion">
        <div class="col-sm-2">
          <img class="full-image" width="50px" height="50px" ng-show="show_suggestions" src="{{getIcon(i_suggestion.avatar_url)}}">
        </div>
        <div class="col-sm-10">
          <label>{{i_suggestion.username}}</label>
          <div>
          <p>{{extraDetails(i_suggestion)}}</p>
        </div>
        </div>
      </div>
    </a>
    <a class="list-group-item" id="userLoading" ng-show="user_loading_wheel">
      <img src="img/barz.svg" height="40px" width="50px"/>
    </a>
     <a class="list-group-item" id="noResults" ng-show="user_no_results">
      No results. Try re-typing full username.
    </a>
  </div>
  </form>

  <div id="creditText">
    <div id="creditChild">
      <p>Music discovery project by <a href="http://www.henrysdev.net/">Henry Warren</a></p>
      <p>Bugs? Feedback?</p>
      <p>Contact me <a href>henrysdev@gmail.com</a></p>
    </div>
  </div>
        

</div>