<script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
<script src="lib/dst/angular-modal-service.js"></script>

<div ng-app="GeniusTracklist">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Algorithm Explanation</h3>
        <div>
        <!--<h4>(To be Included in Calculation)</h4>-->
      </div>
      </div>

      <div class="modal-body">
        <img class="thumbnail zoom" src="img/SoundcloudDiscoveryAlgo.png" id="algoExplanationImage" />
        </div>
      </div>
<div class="modal-footer">
  <a class="btn btn-default" ng-click="close()">Back</a>
</div>
</div>

</div>
