<script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
<script src="lib/dst/angular-modal-service.js"></script>

<div ng-app="GeniusTracklist">
    <div class="modal-content">
      <div class="modal-header">
        <h3>User Favorites</h3>
        <div>
        <h4>(To be Included in Calculation)</h4>
      </div>
      </div>

      <div class="modal-body">
        <div style="height:380px;overflow:auto;">
          <div class="container-fluid" id="modalContainer"> 
            <li id="favGrid" ng-repeat="track in fav_icons">
              <div class="row">
                <div class="col-sm-12 btn-group-justified" id="fav_parent">
                  <a id="iconGridBtn" class="btn" ng-class="{true: 'btn-default', false: 'btn-primary'}[!fav_icons[$index].checked_]" ng-click="fav_icons[$index].checked_ = !fav_icons[$index].checked_; toggleChecked($index,fav_icons[$index].checked_)" >
                    <div class="row" id="innerRowFavIcon">
                     <div class="col-sm-8" id="favItem">
                      <img width="50px" heigh="50px" src="{{getIconArt(track.icon)}}">
                     </div>
                      <div class="col-sm-4" id="iconCheckedBadge">
                      <span class="badge-xl"><i ng-class="{'glyphicon glyphicon-ok':track.checked_,'glyphicon glyphicon-remove':!track.checked_}"></i></span>
                      <p></p>
                      <div>
                    </div>
                    </div>
                  </div>
                  <!--<p style="text-align:left;" id="favItemTitle">{{track.icon.title}}</p>-->
                  <p style="text-align:left;" id="favItemArtist">{{track.icon.user.username}}</p>
                  </a>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
<div class="modal-footer" id="modalFavFooter">
  <a class="btn btn-default" ng-click="close()">Cancel</a>
  <a class="btn btn-default" id="selectionToggleBtn" ng-click="selectAllIcons(toggleSelect)">Deselect All</a>
  <a class="btn btn-default" ng-click="randomIcons()">Randomize</a>
  <a class="btn btn-default"  ng-click="startCalculation()" ng-disabled="!allowCalculation">Calculate Selection</a>
</div>
</div>

</div>
