/* Empty. Add your own CSS if you like */



.item-content {
  background-color: black;
}

.padding.scroll-content.ionic-scroll{
	background-color: #282828;
}

/*.item.item-input-inset*/
#enterUsername
{
	position: fixed;
        top: 300%;
        width: 100%;
        transform: translate(0%,500%);
        /*
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        */
	/*
	-webkit-animation: mymove 1s infinite;
    animation: mymove 1s infinite;
	*/
}

@-webkit-keyframes mymove {
    from {left: -1000px;}
    to {left: 0px;}
}

.spinner svg
{
	width: 100px;
	height: 100px;
	display : block;
	margin: auto;
	text-align: center;
	stroke: #444;
  	fill: #444;
}

.fav_window {
  height: 400px;
  background-color: #282828;
}

h2
{
	text-align: center;
}
.nav-bar{
	background-color: : #282828;
	color: white;
}
.ion-nav-bar{
	background-color: : #282828;
	color: white;
}
.list{
	background-color: : #282828;
	color: white;
}
.row {
	background-color: #282828;
	color: white;
}

.item{
	background-color: #282828;
	color: white;
}

h1 {
    color: white;
    font-size: 250%;
    text-align: center;
}

h3 {
	color: white;
	text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}