/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);

h4{
	color: white;
    font-size: 500%;
    text-align: center;
    font-family: 'Racing Sans One';
}

#easyFixButton
{
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: blue;
	color:blue;
}

.button#editSearchButton.button{
	position: absolute;
    right: 0px;
}
.scroll-bar {
  position: absolute;
}

.item-content {
  background-color: black;
}

.scroll-content.ionic-scroll{
	background-color: #282828;
}

.padding.scroll-content.ionic-scroll{
	background-color: #282828;
}

/*.item.item-input-inset*/
#enterUsername
{
	position: fixed;
        top: 300%;
        width: 100%;
        transform: translate(0%,500%);
        z-index = 0;
        /*
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        */
	/*
	-webkit-animation: mymove 1s infinite;
    animation: mymove 1s infinite;
	*/
}

@-webkit-keyframes mymove {
    from {left: -1000px;}
    to {left: 0px;}
}

.spinner svg
{
	width: 100px;
	height: 100px;
	display : block;
	margin: auto;
	text-align: center;
	stroke: #444;
  	fill: #444;
}

.fav_window {
  height: 400px;
  background-color: #282828;
}

#info0{
	position: absolute;
    left: 0px;
    top: 50%;
    z-index: -1;
}
#info1{
	position: absolute;
    left: 0px;
    top: 90%;
    z-index: -1;
}


#userSuggestion
{
	/*
	opacity: 0.3;
    filter: alpha(opacity=30);
    */
	background-color: #707070 ;
}

h2
{
	text-align: center;
	font-family: 'Racing Sans One';
}
.nav-bar{
	background-color: : #282828;
	color: white;
}
.ion-nav-bar{
	background-color: : #282828;
	color: white;
}
.list{
	background-color: : #282828;
	color: white;
}
.row {
	background-color: #282828;
	color: white;
}

.item{
	background-color: #282828;
	color: white;
}

h1 {
    color: white;
    font-size: 250%;
    text-align: center;
    font-family: 'Racing Sans One';
}

h3 {
	color: white;
	text-align: center;
	font-family: 'Racing Sans One';
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}